/*NO G GRID by Vinicius Santana - santanaviny@gmail.com*/


.col1of24,
.col2of24,
.col3of24,
.col4of24,
.col5of24,
.col6of24,
.col7of24,
.col8of24,
.col9of24,
.col10of24,
.col11of24,
.col12of24,
.col13of24,
.col14of24,
.col15of24,
.col16of24,
.col17of24,
.col18of24,
.col19of24,
.col20of24,
.col21of24,
.col22of24,
.col23of24,
.col24of24{
	float:left;
	position:relative;
}

.col1of24{
	width:4.16%;
}
.col2of24{
	width:8.32%;
}
.col3of24{
	width:12.48%;
}
.col4of24{
	width:16.64%;
}
.col5of24{
	width:20.08%;
}
.col6of24{
	width:24.96%;
}
.col7of24{
	width:29.12%;
}
.col8of24{
	width:33.28%;
}
.col9of24{
	width:37.44%;
}
.col10of24{
	width:41.6%;
}
.col11of24{
	width:45.76%;
}
.col12of24{
	width:49.92%;
}
.col13of24{
	width:54.08%;
}
.col14of24{
	width:58.24%;
}
.col15of24{
	width:62.4%;
}
.col16of24{
	width:66.56%;
}
.col17of24{
	width:70.72%;
}
.col18of24{
	width:74.88%;
}
.col19of24{
	width:79.04%;
}
.col20of24{
	width:83.2%;
}
.col21of24{
	width:87.36%;
}
.col22of24{
	width:91.52%;
}
.col23of24{
	width:95.68%;
}
.col24of24{
	width:99.84%;
}



.offleft1of24,
.offleft2of24,
.offleft3of24,
.offleft4of24,
.offleft5of24,
.offleft6of24,
.offleft7of24,
.offleft8of24,
.offleft9of24,
.offleft10of24,
.offleft11of24,
.offleft12of24,
.offleft13of24,
.offleft14of24,
.offleft15of24,
.offleft16of24,
.offleft17of24,
.offleft18of24,
.offleft19of24,
.offleft20of24,
.offleft21of24,
.offleft22of24,
.offleft23of24,
.offleft24of24{}

.offleft1of24{
	margin-left:4.16%;
}
.offleft2of24{
	margin-left:8.32%;
}
.offleft3of24{
	margin-left:12.48%;
}
.offleft4of24{
	margin-left:16.64%;
}
.offleft5of24{
	margin-left:20.08%;
}
.offleft6of24{
	margin-left:24.96%;
}
.offleft7of24{
	margin-left:29.12%;
}
.offleft8of24{
	margin-left:33.28%;
}
.offleft9of24{
	margin-left:37.44%;
}
.offleft10of24{
	margin-left:41.6%;
}
.offleft11of24{
	margin-left:45.76%;
}
.offleft12of24{
	margin-left:49.92%;
}
.offleft13of24{
	margin-left:54.08%;
}
.offleft14of24{
	margin-left:58.24%;
}
.offleft15of24{
	margin-left:62.4%;
}
.offleft16of24{
	margin-left:66.56%;
}
.offleft17of24{
	margin-left:70.72%;
}
.offleft18of24{
	margin-left:74.88%;
}
.offleft19of24{
	margin-left:79.04%;
}
.offleft20of24{
	margin-left:83.2%;
}
.offleft21of24{
	margin-left:87.36%;
}
.offleft22of24{
	margin-left:91.52%;
}
.offleft23of24{
	margin-left:95.68%;
}
.offleft24of24{
	margin-left:99.84%;
}

.offright1of24,
.offright2of24,
.offright3of24,
.offright4of24,
.offright5of24,
.offright6of24,
.offright7of24,
.offright8of24,
.offright9of24,
.offright10of24,
.offright11of24,
.offright12of24,
.offright13of24,
.offright14of24,
.offright15of24,
.offright16of24,
.offright17of24,
.offright18of24,
.offright19of24,
.offright20of24,
.offright21of24,
.offright22of24,
.offright23of24,
.offright24of24{}

.offright1of24{
	margin-right:4.16%;
}
.offright2of24{
	margin-right:8.32%;
}
.offright3of24{
	margin-right:12.48%;
}
.offright4of24{
	margin-right:16.64%;
}
.offright5of24{
	margin-right:20.08%;
}
.offright6of24{
	margin-right:24.96%;
}
.offright7of24{
	margin-right:29.12%;
}
.offright8of24{
	margin-right:33.28%;
}
.offright9of24{
	margin-right:37.44%;
}
.offright10of24{
	margin-right:41.6%;
}
.offright11of24{
	margin-right:45.76%;
}
.offright12of24{
	margin-right:49.92%;
}
.offright13of24{
	margin-right:54.08%;
}
.offright14of24{
	margin-right:58.24%;
}
.offright15of24{
	margin-right:62.4%;
}
.offright16of24{
	margin-right:66.56%;
}
.offright17of24{
	margin-right:70.72%;
}
.offright18of24{
	margin-right:74.88%;
}
.offright19of24{
	margin-right:79.04%;
}
.offright20of24{
	margin-right:83.2%;
}
.offright21of24{
	margin-right:87.36%;
}
.offright22of24{
	margin-right:91.52%;
}
.offright23of24{
	margin-right:95.68%;
}
.offright24of24{
	margin-right:99.84%;
}