{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}

          <div class="page-top">  
            <h1 class="page-title btn-yellow-124">Agenda<i class="fa fa-chevron-circle-right"></i>
</h1>          
            <p></p>
          </div>
          <div class="col12of12 agenda">
            
            <section>
              <time>8:00 – 9:00 AM</time>
              <div class="subsession">
                <p class="maintitle">Registration/Check-In/Continental Breakfast<i class="fa fa-chevron-circle-right"></i></p>
                <p></p>
              </div>
              <div class="clearfix"></div>
            </section> 

            <section>
              <time>9:00 – 9:15 AM</time>
              <div class="subsession">
                <p class="maintitle">Welcome – Dr. Leo Wilton, Dr. LaRon Nelson, and Mr. Craig Hutchinson</p>
                <p></p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>9:15 – 10:30 AM</time>
              <div class="subsession">
                <p class="maintitle">Advances in HIV Prevention Research (Panel I). Moderator: Christopher Hucks-Ortiz</p>
              
                  <a class="speaker">Mark Paige, New York Blood Center, NY. Correlates of HIV Stigma and Homophobia among Residents of a High HIV Prevalence Urban Area: Baseline Results of Project CHHANGE.</a>
                  <p>DaShawn Usher, New York Blood Center. Hooking Up with New Ways to Engage MSM: Using Grindr in HIV Prevention Programing and Research. </p>
                  <p>Dr. Josephine Pui-Hing Wong, Ryerson University. Reducing HIV Stigma in African, Caribbean, Asian and Latino Communities: Insights from the CHAMP Intervention Study.</p>
                  <p>Dr. Marlon Bailey, Indiana University Bloomington. The Impact of family dynamics on the sexual self-hood of gay, black men across the life-course: Implications for HIV Prevention. </p>
                </p>
              </div>
              <div class="clearfix"></div>
              <div class="subsession">
                <p class="maintitle">Hope, Health and Healing in the Lives of Black Same Gender Loving Men: Historical Perspectives</p>
                <p>
                  <p>Ron Simmons, Us Helping Us</p><br/>
                  <p>Cleo Manago, AmASSI Health and Cultural Centers</p><br/>
                  <p>Christopher Bates, Florida Department of Health Broward County</p><br/>
                </p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>10:30 – 11:45 AM</time>
              <div class="subsession">
                <p class="maintitle">Education &amp; Agency</p>
                <p>
                  <p>Lance McCready, University of Toronto</p><br/>
                  <p>Ed Brockenbough, University of Rochester</p><br/>
                  <p>Tomas Boatwright, University of Rochester</p><br/>
                  <p>Darrell Hucks, Keene State College</p><br/>
                </p>
              </div>
              <div class="clearfix"></div>
              <div class="subsession">
                <p class="maintitle">International Contexts, African Diasporic Inquiry, and Human Rights</p>
                <p>
                  <p>Cilas Kemedjio, U. of Rochester, Frederick Douglas Inst. of African &amp; African American Studies</p><br/>
                  <p>Orlando Harris, University of Rochester</p><br/>
                  <p>Ron Simmons, Us Helping Us</p><br/>
                </p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>12:00 – 1:00 PM</time>
              <div class="subsession">
                <p class="maintitle">Lunch Plenary</p>
                <p>
                  <p>Dr. Gail Wyatt, University of California, Los Angeles<br/>
                </p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>1:00 – 2:15 PM</time>
              <div class="subsession">
                <p class="maintitle">Black MSM Research Strategy</p>
                <p>
                  <p>Craig Hutchinson, Black Gay Research Group</p><br/>
                  <p>Gregorio Millett, amfAR</p><br/>
                  <p>DaShawn Usher, National Black Gay Men’s Advocacy Coalition</p><br/>
                  <p>Christopher Chauncey Watson, HIV Prevention Trials Network Black Caucus</p><br/>
                </p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>2:15 – 3:30 PM</time>
              <div class="subsession">
                <p class="maintitle">Keynote Speaker</p>
                <p>
                  <p>Mr. Francis Boakye, Priorities on Rights &amp; Sexual Health (PORSH), Ghana, West Africa</p><br/>
                </p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>3:30 – 3:45 PM</time>
              <div class="subsession">
                <p class="maintitle">Break</p>
                <p></p>
              </div>
              <div class="clearfix"></div>              
            </section>

            <section>
              <time>3:45 – 5:00PM</time>
              <div class="subsession">
                <p class="maintitle">New Writings by Black Gay Men</p>
                <p>
                  <p>Marlon Bailey, Butch Queens Up in Pumps: Gender, Performance, &amp; Ballroom Culture in Detroit</p><br/>
                  <p>Darrell Hucks - New Visions of Collective Achievement: The Cross-Generational Schooling Experiences of African American Males</p><br/>
                  <p>Dominique Jackson and Richie Giordano, The Transsexual From Tobago</p><br/>
                </p>
              </div>
              <div class="clearfix"></div>
              <div class="subsession">
                <p class="maintitle">Religion &amp; Spirituality</p>
                <p> <p>Verdell A. Wright, Howard University, Howard University</p><br/>
                  <p>Ja’Nina J. Walker, University of San Francisco</p><br/>
                  <p>Latrice Pichon, University of Memphis</p><br/>
                  <p>Christopher Jones, SAGE Harlem</p><br/>
                </p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>5:00 – 6:00 PM</time>
              <div class="subsession">
                <p class="maintitle">House/Ball Community – Partnership, Research and Capacity Building</p>
                <p>
                  <p>Ayana Elliott, The Elliott Group, LLC, University of the District of Columbia</p><br/>
                  <p>Frank Leon Roberts, New York University</p><br/>
                  <p>Stephaun Wallace, Office of HIV/AIDS Network Coordination, Fred Hutchinson Cancer Research Center</p><br/>
                  <p>Kirk Myers, Abounding Prosperity, Inc</p><br/>
                  <p>Seven King</p><br/>
                </p>
              </div>
              <div class="clearfix"></div>
              <div class="subsession">
                <p class="maintitle">Advances in HIV Prevention Research (Panel II)</p>
                <p>
                  <p>Typhannye Penniman Dyer, University of Maryland</p><br/>
                  <p>Gregory Edwards, Flowers Heritage Foundation</p><br/>
                  <p>Mitchell Wharton, University of Rochesterv</p><br/>
                  <p>Leo Wilton, Binghamton University</p><br/>
                </p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>7:00PM</time>
              <div class="subsession">
                <p class="maintitle">Reception and Award Ceremony</p>
                <ul>
                  <li>
                    <p>Emerging Scholar and Leadership Award</p><br/>
                    <p>Ja’Nina J. Walker, PhD, University of San Francisco</p><br/>
                  </li>
                  <li>
                    <p>Founders’ Spirit &amp; Soul Award</p><br/>
                    <p>Frank Leon Roberts, Gallatin School of Individualized Study</p><br/>
                  </li>
                  <li>
                    <p>Lifetime Achievement Award</p><br/>
                    <p>Christopher H. Bates, Florida Department of Health in Broward County, Florida</p><br/>
                  </li>
                </ul>
              </div>
              <div class="clearfix"></div>
            </section>                    
            <div class="clearfix"></div>            
          </div>
          <div class="clearfix"></div>              
{%endblock%}
