{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}

          <div class="page-top">  
            <h1 class="page-title btn-yellow-124">Abstracts</h1>          
            <p></p>
          </div>
          <div class="col12of12 abstacts">            
            <section>
              <h1>Abstracts submissions are now closed</h1>
              <p>Click <a href="./register/">here</a> to register</p>
            </section> 
            <div class="clearfix"></div>  
          </div>            
{%endblock%}