{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}

          <div class="page-top">  
            <h1 class="page-title btn-yellow-124">Agenda<i class="fa fa-chevron-circle-right"></i>
</h1>          
            <p></p>
          </div>
          <div class="col12of12 agenda">
            
            <section>
              <time>8:00 – 9:00 AM</time>
              <div class="subsession">
                <p class="maintitle">Registration/Check-In/Continental Breakfast<i class="fa fa-chevron-circle-right"></i></p>
                <p></p>
              </div>
              <div class="clearfix"></div>
            </section> 

            <section>
              <time>9:00 – 9:15 AM</time>
              <div class="subsession">
                <p class="maintitle">Welcome – Dr. Leo Wilton, Dr. LaRon Nelson, and Mr. Craig Hutchinson</p>
                <p></p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>9:15 – 10:30 AM</time>
              <div class="subsession">
                <p class="maintitle">Advances in HIV Prevention Research (Panel I)</p>
                <p></p>
              </div>
              <div class="clearfix"></div>
              <div class="subsession">
                <p class="maintitle">Hope, Health and Healing in the Lives of Black Same Gender Loving Men: Historical Perspectives</p>
                <p></p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>10:30 – 11:45 AM</time>
              <div class="subsession">
                <p class="maintitle">Education &amp; Agency</p>
                <p></p>
              </div>
              <div class="clearfix"></div>
              <div class="subsession">
                <p class="maintitle">International Contexts, African Diasporic Inquiry, and Human Rights</p>
                <p></p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>12:00 – 1:00 PM</time>
              <div class="subsession">
                <p class="maintitle">Lunch Plenary – Dr. Gail Wyatt, University of California, Los Angeles</p>
                <p></p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>1:00 – 2:15 PM</time>
              <div class="subsession">
                <p class="maintitle">Black MSM Research Strategy</p>
                <p></p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>2:15 – 3:30 PM</time>
              <div class="subsession">
                <p class="maintitle">Keynote Speaker – Mr. Francis Boakye, Priorities on Rights &amp; Sexual Health (PORSH), Ghana, West Africa</p>
                <p></p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>3:30 – 3:45 PM</time>
              <div class="subsession">
                <p class="maintitle">Break</p>
                <p></p>
              </div>
              <div class="clearfix"></div>              
            </section>

            <section>
              <time>3:45 – 5:00PM</time>
              <div class="subsession">
                <p class="maintitle">New Writings by Black Gay Men</p>
                <p></p>
              </div>
              <div class="clearfix"></div>
              <div class="subsession">
                <p class="maintitle">Religion &amp; Spirituality</p>
                <p></p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>5:00 – 6:00 PM</time>
              <div class="subsession">
                <p class="maintitle">House/Ball Community – Partnership, Research and Capacity Building</p>
                <p></p>
              </div>
              <div class="clearfix"></div>
              <div class="subsession">
                <p class="maintitle">Advances in HIV Prevention Research (Panel II)</p>
                <p></p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>7:00PM</time>
              <div class="subsession">
                <p class="maintitle">Reception and Award Ceremony</p>
                <ul>
                  <li>Emerging Scholar and Leadership Award</li>
                  <li>Founders’ Spirit &amp; Soul Award</li>
                  <li>Lifetime Achievement Award</li>
                </ul>
              </div>
              <div class="clearfix"></div>
            </section>                    
            <div class="clearfix"></div>            
          </div>
          <div class="clearfix"></div>              
{%endblock%}
