{% extends 'SitewebFrontBundle::layout.html.twig' %}
{% block content %}
   <div class="page-top">
        <h1 class="page-title btn-yellow-124">Reset Password</h1>        
    </div>


    <main class="signin">
    	<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
    </main>


{% endblock %}
