{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}


    <main class="content">
    <header class="content-header">
        <h1>Become a Member</h1>
        <div class="clearfix"></div>
        <hr class="book-header">
        <div class="font-size-control" style="xdisplay:none;">
            <a class="smaller">-</a>
            <p>A<span>A</span></p>
            <a class="bigger">+</a>
        </div>
        <div class="clearfix"></div>
    </header>
    <div class="clearfix"></div>
    <form>
    <section>
        <header class="article-header">
            <h2 class="article-title">Membership Categories</h2>
            <a class="article-top-link" href="./login">Login with your <span>2015 UCLA H<sup>3</sup>/BGRG Summit</span> account!</a>
        </header>
        <article class="article-content">
            <div class="ms_type">
                <p><span>Full:</span> This level of membership is open to all self-identified Black Gay Men / MSM with an expressed interest in research activities related to the lives of Black Gay Men.
                    <span>Note:</span> Only full members are eligible to vote and hold positions on the BGRG leadership steering committee.</p>
                <label class="ms_price ms_odd">$100<span>/year</span><input name="membership-type" type="radio" value="2"/></label>
                <div class="clearfix"></div>
            </div>
            <div class="ms_type">
                <p><span>Affiliate:</span> This level of membership is open to all individuals with an expressed interest in research activities related to the lives of Black Gay Men.
                    <span>Note:</span> Affiliate members are not eligible to vote or hold positions on the BGRG leadership steering committee.</p>
                <label class="ms_price ms_even">$50<span>/year</span><input name="membership-type" type="radio" value="3"/></label>
                <div class="clearfix"></div>
            </div>
            <div class="ms_type">
                <p><span>Student:</span> This level is synonymous with the affiliate level of membership. The reduced membership fee rate is available to all individuals with an expressed interest in research activities related to the lives of Black Gay Men who are currently undergraduate, graduate, or post-graduate students.
                    <span>Note:</span> For student membership, documentation of current student status is required. Members who join at the student member rate are not eligible to vote or hold positions on the BGRG leadership steering committee. To be eligible to vote and hold office, a member must be eligible for and pay the Full Member fee.</p>
                <label class="ms_price ms_odd">$25<span>/year</span><input name="membership-type" type="radio" value="4"/></label>
                <div class="clearfix"></div>
            </div>
            <div class="ms_type">
                <p><span>Organizational:</span> This level of membership is open to all community based, professional and private organizations with an expressed interest in supporting research activities related to the lives of Black Gay Men.
                    <span>Note:</span> Organizational members are not eligible to vote or hold positions on the BGRG leadership steeirng committee.</p>
                <label class="ms_price ms_even">$100<span>/year</span><input name="membership-type" type="radio" value="7"/></label>
                <div class="clearfix"></div>
            </div>

            <div class="ms_type corporate" style="background:none;">
                <p><span>Corporate:</span> <span>Based on Yearly Operating Budget (YOB)</span>. This level of membership is open to all corporations with an expressed interest in supporting research activities related to the lives of Black Gay Men.
                    <span>Note:</span> Corporate support members are not eligible to vote or hold positions on the BGRG leadership steering committee.</p>
                <div class="clearfix"></div>
                <div class="ms_subtype">
                    <p class="ms_title">Yearly Operating Budget (YOB) Fee Schedule</p>
                    <div class="ms_type">
                        <p>Budget < $250K</p>
                        <label class="ms_price ms_even">$500<span>/year</span><input name="membership-type" type="radio" value="8"/></label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ms_type">
                        <p>Budget $500K < $2M</p>
                        <label class="ms_price ms_odd">$1,000<span>/year</span><input name="membership-type" type="radio" value="9"/></label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ms_type">
                        <p>Budget $2M – $5M</p>
                        <label class="ms_price ms_even">$3,000<span>/year</span><input name="membership-type" type="radio" value="10"/></label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ms_type">
                        <p>Budget $5M – $10M</p>
                        <label class="ms_price ms_odd">$4,500<span>/year</span><input name="membership-type" type="radio" value="11"/></label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ms_type">
                        <p>Budget $10M – $15M</p>
                        <label class="ms_price ms_even">$6,500<span>/year</span><input name="membership-type" type="radio" value="12"/></label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ms_type">
                        <p>Budgets above $15M</p>
                        <label class="ms_price ms_odd">$7,500<span>/year</span><input name="membership-type" type="radio" value="13"/></label>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
        </article>
    </section>
    <section>
        <div class="ms_total">
            <p>Corporate Membership - 1 Year:<span>$7,5000</span></p>
        </div>
    </section>
    <section>
        <header class="form_section_header">
            <hr>
            <h2>Personal Info</h2>

        </header>
        <article>
            <p><span class="required-helper">*Required fields</span>
            <div class="form-group w310">
                <label for="inputFirstName" class="w100">First Name:<span class="field-required">*</span></label>
                <input type="text" class="w200" id="inputFirstName">
            </div>
            <div class="form-group w310">
                <label for="inputLastName" class="w100">Last Name:<span class="field-required">*</span></label>
                <input type="text" class="w200" id="inputLastName">
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label for="inputyAddress" class="w100">Address:<span class="field-required">*</span></label>
                <input type="text" class="w512" id="inputyAddress">
            </div>
            <div class="clearfix"></div>
            <div class="form-group w310">
                <label for="inputCity" class="w100">City:<span class="field-required">*</span></label>
                <input type="text" class="w200" id="inputCity">
            </div>
            <div class="form-group w170">
                <label for="inputState" class="w60">State:<span class="field-required">*</span></label>
                <input type="text" class="w100" id="inputState">
            </div>
            <div class="form-group w150">
                <label for="inputZip" class="w50">Zip:<span class="field-required">*</span></label>
                <input type="text" class="w82" id="inputZip">
            </div>
            <div class="clearfix"></div>
            <div class="form-group w310">
                <label for="inputPhone1" class="w110">Home Phone:<span class="field-required">*</span></label>
                <input type="text" class="w191" id="inputPhone1">
            </div>
            <div class="form-group w310">
                <label for="inputPhone2" class="w110">Mobile Phone:<span class="field-required">*</span></label>
                <input type="text" class="w191" id="inputPhone2">
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label for="inputPhoto" class="w110">Profile Photo:</label>
                <input id="uploadFile" class="uploadFile w191" type="text" placeholder="Choose File" disabled="disabled"/>
                <div class="fileUpload btn_purple">
                    <span>Upload</span>
                    <input id="uploadBtn" type="file" class="upload" />
                </div>
                <script type="text/javascript">
                    document.getElementById("uploadBtn").onchange = function () {
                        document.getElementById("uploadFile").value = this.value;
                    }
                </script>
            </div>

            <div class="clearfix"></div>
            <div class="form-group">
                <label for="inputEmail" class="w110">E-mail:<span class="field-required">*</span></label>
                <input type="text" class="w191" id="inputEmail">
            </div>
            <div class="clearfix"></div>
            <div class="form-group w310">
                <label for="inputPassword" class="w110">Password:<span class="field-required">*</span></label>
                <input type="text" class="w191" id="inputPassword">
            </div>
            <div class="form-group w310">
                <label for="inputPassword2" class="w150">Confirm Password:<span class="field-required">*</span></label>
                <input type="text" class="w150" id="inputPassword2">
            </div>
            <div class="clearfix"></div>
        </article>
    </section>
    <section>
        <header class="form_section_header">
            <hr>
            <h2>Professional Employment</h2>
        </header>
        <article>
            <div class="form-group">
                <label for="inputOrganization" class="w360">Employer / Educational Institution (for students):<span class="field-required">*</span></label>
                <input type="text" class="w252" id="inputOrganization">
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label for="inputOAddress" class="w100">Adress:<span class="field-required">*</span></label>
                <input type="text" class="w512" id="inputOAddress">
            </div>
            <div class="clearfix"></div>
            <div class="form-group w310">
                <label for="inputOCity" class="w100">City:<span class="field-required">*</span></label>
                <input type="text" class="w200" id="inputOCity">
            </div>
            <div class="form-group w170">
                <label for="inputOState" class="w60">State:<span class="field-required">*</span></label>
                <input type="text" class="w100" id="inputOState">
            </div>
            <div class="form-group w150">
                <label for="inputOZip" class="w50">Zip:<span class="field-required">*</span></label>
                <input type="text" class="w82" id="inputOZip">
            </div>
            <div class="clearfix"></div>
            <div class="form-group w310">
                <label for="inputOPhone1" class="w110">Home Phone:<span class="field-required">*</span></label>
                <input type="text" class="w191" id="inputOPhone1">
            </div>
            <div class="form-group w310">
                <label for="inputOPhoneExt" class="w150">Phone Extension:<span class="field-required">*</span></label>
                <input type="text" class="w150" id="inputOPhoneExt">
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label for="inputInterest" class="">Areas of Interest/Expertise:<span class="field-required">*</span></label>
                <div class="clearfix"></div>
                <textarea class="w612" id="inputInterest"></textarea>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label class="w612">Please submit a copy of your professional CV and one copy of a peer-reviewed published article to which you contributed. If you do not have a peer-review publication, please submit a document that demonstrates scholarly work in your primary area of research or community program practice. (.PDF; .DOC; .TXT)</label>
            </div>
            <div class="clearfix"></div>

            <div class="form-group">
                <label for="inputPhoto" class="w140">Curriculum Vitae:</label>
                <input id="curriculumUploadFile" class="uploadFile w191" type="text" placeholder="Choose File" disabled="disabled"/>
                <div class="fileUpload btn_purple">
                    <span>Upload</span>
                    <input id="curriculumUploadBtn" type="file" class="upload" />
                </div>
                <script type="text/javascript">
                    document.getElementById("curriculumUploadBtn").onchange = function () {
                        document.getElementById("curriculumUploadFile").value = this.value;
                    }
                </script>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label for="inputPhoto" class="w140">Article:</label>
                <input id="articleUploadFile" class="uploadFile w191" type="text" placeholder="Choose File" disabled="disabled"/>
                <div class="fileUpload btn_purple">
                    <span>Upload</span>
                    <input id="articleUploadBtn" type="file" class="upload" />
                </div>
                <script type="text/javascript">
                    document.getElementById("articleUploadBtn").onchange = function () {
                        document.getElementById("articleUploadFile").value = this.value;
                    }
                </script>
            </div>
            <hr class="horizontal-separator">
            <div class="clearfix"></div>
            <input class="btn-submit btn_purple" type="submit" value="Submit">
        </article>
    </section>
    </form>
    </main>

{%endblock%}