{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}

          <div class="page-top">  
            <h1 class="page-title btn-yellow-124">Organizers</h1>            
            <p></p>
          </div>

          <div class="col1of2 autocontent autocontent500">            
            <a class="center"><img src="{{asset('bundles/sitewebfront/img/BGRG.jpg')}}"/></a>           
            <h3 class="titley">BGRG</h3>
            <div class="yellowBox">
              <div class="content">
                <p>The BGRG: Advancing an agenda for research, policy, and service in the interest of Black Gay Men.</p>
                <p>The BGRG is a diverse group of Black gay men committed to creating a platform for presenting, discussing, and analyzing scholarly work being produced by and on Black gay men.</p>
                <p>The BGRG published the nation’s first Black Gay Men’s Research Agenda in 2007 and released an updated Research Agenda in 2014.</p>
                <p>The BGRG functions as Black Gay Research Think Tank with members in USA, Canada, England, Ghana, South Africa.</p>
                <p>The BGRG works in partnership with other research, advocacy, and community-based organizations. </p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div> 
          <div class="col1of2 autocontent autocontent500">
            <a class="center"><img src="{{asset('bundles/sitewebfront/img/H3-logo-200x141.png')}}"/></a>        
            <h3 class="titley">UCLA Health, Hope & Healing (H3)</h3>
            <div class="yellowBox">
              <div class="content">
                <p>The national "Health, Hope & Healing (H3)" conference brings together local and national researchers, members of community and faith-based organizations, and junior investigators for a series of talks and panel discussions on HIV among gay and bisexual African American men.</p>
                <p>Topics will include HIV and the African American community, myths about black men who have sex with men, the importance of couples and family, substance abuse, and other important issues. Participants will share research findings and experiences and will develop collaborative networks for future studies and community programs.</p>                
                <p>The conference is sponsored by the National Institute of Mental Health, the UCLA AIDS Institute, the Center for Culture, Trauma and Mental Health Disparities at UCLA, and the UCLA HIV/AIDS Translational Training (HATT) Program.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>               

{%endblock%}
