<li style="list-style:none;width: 48%;float: left">
    <label for="Co-AuthorName" class="label-105">Co-Author Name<span class="field-required">*</span></label>
    {{ form_widget(form.coauthor,{'attr':{'class':'input-200 input-yellow' } }) }}
</li>
