{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}

<div class="page-top">  
  <h1 class="page-title btn-yellow-124">Sponsors</h1>
  <a class="btn-yellow-124" href="/sponsorships">Become a Sponsor</a>
</div>
<div class="sponsors-page">             
      <h3 class="titley">Sponsors</h3>            
      <div class="sponsorspage">  
          <a href='#"'><li><img src="{{ asset('bundles/sitewebfront/img/CHBT_center.jpg') }}"></li></a>
          <a href='#"'><li><img src="{{ asset('bundles/sitewebfront/img/amFarlogo_small.jpg') }}"></li></a>
          <a href='#"'><li><img src="{{ asset('bundles/sitewebfront/img/hptn_logo_small.jpg') }}"></li></a>
          <a href='#"'><li><img src="{{ asset('bundles/sitewebfront/img/rochester_small.jpg') }}"></li></a>
      </div>               
      <div class="clearfix"></div>
</div>

{%endblock%}
