{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}

<div class="page-top">  
  <h1 class="page-title btn-yellow-124">Sponsorships</h1>
  <p></p>
</div>
<div class="sponsor-packages">             
  <h3 class="titley">Sponsorhip Opportunities</h3>            
      <div class="col1of2 sponsorCard">                  
        <img src="{{asset('bundles/sitewebfront/img/freedom.png')}}"/>
        <hr>
        <h1>Freedom Circle</h1>
        <p><span>$10,000<span></p>                        
        <p>Two complimentary registrations to the 2015 African-American MSM Leadership Conference on HIV/AIDS and other Health Disparities in Atlanta.</p>
        <p>Named as a sponsor of a BGRG Award to be presented at the awards reception on January 14, 2015.</p>
        <p>Ability to address the general audience during a prime meeting time during the summit.</p>
        <p>Public acknowledgment of your support and recognition for you or a representative from your agency during all major summit activities.</p>
        <p>Plus: All benefits described in the lower sponsorship level</p>
      </div>
      <div class="col1of2 sponsorCard">                  
        <img src="{{asset('bundles/sitewebfront/img/blackstar.png')}}"/>
        <hr>
        <h1>Black Star</h1>
        <p><span>$5,000<span></p> 
        <p>Two complimentary registrations for the 2015 BGRG/H3 Summit</p>
        <p>Three additional months of advertising space on official BGRG website (October 2014- December 2015)</p>
        <p>Reserved table at BGRG Awards Reception (8 guests)</p>
        <p>Public acknowledgement of your support at the opening ceremony meeting and closing ceremonies of the summit.</p>
        <p>Plus: All benefits described in the lower sponsorship level</p>
      </div>
      <div class="col1of2 sponsorCard bottom">                  
        <img src="{{asset('bundles/sitewebfront/img/friends.png')}}"/>
        <hr>
        <h1>Friends of BGRG</h1>
        <p><span>$2,500<span></p>   
        <p>Vendor space for program/product advertisement at summit</p>
        <p>Reserved table for 5 at keynote address (5 guests)</p>
        <p>Plus: All benefits described in the lower sponsorship level</p>
      </div>
      <div class="col1of2 sponsorCard bottom">                  
        <img src="{{asset('bundles/sitewebfront/img/core.png')}}"/>
        <hr>
        <h1>Core</h1>
        <p><span>$1,000<span></p>                        
        <p>Advertising space in 2015 Summit program booklet</p>
        <p>Reserved seats at luncheon plenary (3 guests)</p>
        <p>One year organizational membership to BGRG</p>
        <p>Acknowledgment as a organizational member on the BGRG website</p>
        <p>(January 2015-December 2015)</p>
      </div>
      
      <div class="clearfix"></div>
</div>

<div class="col12of12">
  <div class="yellowBox">
    <div class="col12of12 content">
      <p style="text-align:center;margin-top:25px">For Sponsorship inquiries, contact <br/><br/> info @ bgrgsummit.com</p>
      </div>
    <div class="clearfix"></div>
  </div>
</div>
{%endblock%}
