{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}
    <ul class="side-menu">
      <li><a>About Us</a>
        <ul>
            <li class="selected"><a href="/aboutus/mission">Mission</a></li>
            <li><a href="/aboutus/our-work">Our Work</a></li>
            <li><a href="/aboutus/our-services">Our Services</a></li>
            <li><a href="/aboutus/research-agenda">Research Agenda</a>
                <ul style="display:none;">
                    <li><a>Executive Summary</a></li>
                    <li><a>Introduction</a></li>
                    <li><a>Background</a></li>
                    <li><a>Methodologies</a></li>
                    <li><a>Recommendations</a></li>
                    <li><a>Conclusions</a></li>
                    <div class="clearfix"></div>
                </ul>
            </li>
            <li><a href="">BGRG Summits</a>
                <ul>
                    <li><a href="/aboutus/bgrg-summit/2005">2005</a></li>
                    <li><a href="/aboutus/bgrg-summit/2010">2010</a></li>
                    <li><a href="/aboutus/bgrg-summit/2012">2012</a></li>
                    <div class="clearfix"></div>
                </ul>
            </li>
            <li><a href="#">Annual Reports</a>
                <ul>
                    <li><a href="/aboutus/annual-report/2008">2008</a></li>
                    <li><a href="/aboutus/annual-report/2009">2009</a></li>
                    <li><a href="/aboutus/annual-report/2010">2010</a></li>
                    <div class="clearfix"></div>
                </ul>
            </li>
            <li><a href="/aboutus/posts/a-way-forward">Posts &amp; News</a></li>
        </ul>    
      </li>
    </ul>

    <main class="content contentRich" id="content">
        <header class="content-header">
            <h1>Mission</h1>
            <div class="clearfix"></div>
            <hr class="book-header">
            <div class="font-size-control" style="display:none;">
                <a class="smaller" onclick="resizeText(-1)">-</a>
                <p>A<span>A</span></p>
                <a class="bigger" onclick="resizeText(1)">+</a>
            </div>
            <div class="clearfix"></div>
        </header>
        <section>
            <div class="clearfix"></div>
            <p><span class="drop-capp">I</span>the spring of 2001, a group of Black gay men of diverse professional and educational backgrounds met in the apartment of a Brooklyn activist where they engaged in the first of many informal discussions about the current state of research and scholarly work being produced by and about Black MSM.</p>

            <img class="left" src="{{asset('bundles/sitewebfront/img/mission.jpg')}}"/>

            <p>The first formal planning meeting was held on September 22, 2001. The discussion centered on what is research and why the need for a Black gay research group. The members unanimously agreed that a research group should be formed and identified four objectives that would serve as the framework for the research group’s raison d’être.  The objectives were as follows:</p>



            <ul class="green">  
                <li>To sponsor a Research Summit that focuses on Black gay men.</li>
                <li>To establish a research agenda that would evolve from the summit, which would examine life stages of Black gay men socially, spiritually, economically, and psychologically.</li>
                <li>To publish a research report that serves as a compendium of research papers drawn from the summit presentations that is reflective of current research directions on Black gay life.</li>
                <li>To create a sustainable research activity that continuously identifies, explores and promotes innovative program interventions within the Black gay community.</li>
            </ul>    

            

        </section>
    </main>    

{%endblock%}