{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}

<h1>This page is under construction.</h1>
<p>Please check back again soon</p>
<a href="/register"><p>Register now</p></a>
{%endblock%}
