{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}

    <main class="content">
        <header class="content-header">
            <h1>User 1st and Last Name</h1>
            <div class="clearfix"></div>
            <hr class="book-header">
            <div class="font-size-control" style="xdisplay:none;">
                <a class="smaller">-</a>
                <p>A<span>A</span></p>
                <a class="bigger">+</a>
            </div>
            <div class="clearfix"></div>
        </header>
        <div class="clearfix"></div>
        <header class="content-header">
            <h1>Membership Status</h1>
            <div class="clearfix"></div>
            <hr class="book-header">
            <div class="font-size-control" style="xdisplay:none;">
                <a class="smaller">-</a>
                <p>A<span>A</span></p>
                <a class="bigger">+</a>
            </div>
            <div class="clearfix"></div>
        </header>
        <div class="clearfix"></div>
        <section class="membership-card">
            <article>
                <h1>Membership Organization</h1>
                <h2>Type:Membership Type</h2>
                <p class="status red">Status:Membership Status<p>
                <div class="clearfix"></div>
                <p class="exp">Expiration 12/05/2014</p>
                <a class="btn btn_purple" href="#">Action</a>
            </article>
            <img src="{{ asset('/bundles/sitewebfront/img/membership-logo-bgrg-74x91.png') }}">
            <hr/>
        </section>
    </main>
















{% endblock %}
