{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}

          <div class="page-top">  
            <h1 class="page-title btn-yellow-124">Speakers</h1>          
            <p></p>
          </div>
          <div class="col1of3 autocontent autocontent220">
            
            <a class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/gail.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Gail Wyatt, PhD</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                <p>Professor in the UCLA Department of Psychiatry and Biobehavioral Sciences University of California Los Angeles</p>
                <p><strong>Panel:</strong> Keynote Address from Preeminent Scholar in Sex Research My Brother and Sister’s Keeper: the Roles of Women and Gay Black Men in each other’s Lives</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col1of3 autocontent autocontent220">
            <a class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/francis.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Francis Boakye</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                <p>Executive Director, Priorities on Rights & Sexual Health (Ghana) LGBT Human Rights Advocate<p> 
                <p><strong>Panel:</strong> Inaugural David Kato Kisule International Keynote Address Homosexuality in Ghana: Myths, Misconceptions, Mysteries and Miseries.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>


          <div class="clearfix"></div>
          
          


{%endblock%}
