{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}

          <div class="page-top">  
            <h1 class="page-title btn-yellow-124">Contact</h1>                      
          </div>
          <div id="contact_form">
            <form name="form1" id="ff" method="post" action="insert.php">
            <h1>Contact Us</h1>
                <label>
                <span>Name*:</span>
                <input type="text" placeholder="Please enter your name" name="name" id="name" required autofocus>
                </label>
         
         
                <label>
                <span>Phone:</span>
                <input type="tel" placeholder="Please enter your phone" name="phone" id="phone">
                </label>
         
                <label>
                <span>Email*:</span>
                <input type="email" placeholder="youremail@gmail.com" name="email" id="email" required>
                </label>

                <label>
                <span>Message*:</span>
                <textarea name='message' required></textarea>
                </label>
         
                <input class="sendButton" type="submit" name="Submit" value="Send">
         
            </form>
          </div>            
{%endblock%}
