{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}
<div class="page-top">  
    <h1 class="page-title btn-yellow-124">Press</h1>
    <p></p>
</div>
<div class="col12of12 press">
	<h2 class="titlen">Press</h2>
	<h3 class="titley">For Immediate Release<span class="logo-stamp"></span></h3>
	<div class="yellowBox padding5p">
	  <div class="col12of12 content">
	  	<h1>THE BLACK GAY RESEARCH GROUP (BGRG) ANNOUNCES 2015 BGRG RESEARCH SUMMIT AND UCLA HEALTH, HOPE, AND HEALING (H3) CONFERENCE THEME, KEYNOTE SPEAKERS, CALL FOR PRESENTERS, & DISTINGUISHED AWARDS</h1>

	  	<p>ATLANTA, GA - The Black Gay Research Group (BGRG) announced that the 2015 BGRG Research Summit will be held together with the UCLA Health, Hope, and Healing (H3) Conference on January 14, 2015 in Atlanta, Georgia at the Renaissance Airport Hotel. This program will coincide with the 2015 National African American MSM Leadership Conference on HIV/AIDS and Other Health Disparities set for January 15-18, 2015 in Atlanta, GA.</p>
	  	<p>The theme for the upcoming Summit is <strong>Building Strong Families and Communities across the African Diaspora for Black Same Gender Practicing Men</strong>. The Summit will highlight the scholarly and creative/artistic contributions of those who study the lives of Black same gender practicing men from a variety of interdisciplinary perspectives.</p>
	  	<p>The Summit will feature two keynote speakers: Dr. Gail Wyatt, Professor in the UCLA Department of Psychiatry and Biobehavioral Sciences, and Mr. Francis Boakye, Executive Director of Priorities on Rights and Sexual Health (PORSH) in Ghana. </p>             
	    <p>“There is a critical need for Black same gender practicing men’s communities to engage transformative and culturally congruent scholarly research that speaks to the integrity of our experiences,” said Dr. Leo Wilton, BGRG Summit Chair and Associate Professor of Human Development at Binghamton University. According to Dr. LaRon E. Nelson, BGRG Chair and Assistant Professor of Nursing and Dean’s Endowed Fellow in Health Disparities Research at the University of Rochester, “This is the only place in the world where, in the same venue, people will be able to hear from African Diasporic cultural scholars, as well as researchers in education, gender and sexuality studies, public health, performing arts, and politics. The Summit attracts people from across the African Diaspora because this type of diverse intellectual offering, focused on the lives of Black same gender practicing men, just isn’t available anywhere else.”</p>
		<p>The 2015 Summit and H3 Conference will feature seven (7) innovative interdisciplinary tracks and panels, including:</p>
		<ul>				
			<li>Advances in HIV Prevention Research</li>
			<li>Black Queer Studies and Performing and Visual Arts</li>
			<li>Education and Agency</li>
			<li>International Contexts, African Diasporic Inquiry, and Human Rights</li>
			<li>Policy, Advocacy, and Social Justice</li>
			<li>Religion and Spirituality</li>
			<li>Theoretical Approaches & Innovative Methodological Directions</li>
			<li>Round Table Discussions</li>
		</ul>			           
	  </div>

	  <div class="clearfix"></div>
	  <div class="press4">
		  <div class="col3of12 content">
		  	<p>Leo Wilton, Ph.D.<br/><span>BGRG Research Summit Chair</span></p>
		  </div>
		  <div class="col3of12 content">
		  	<p>Craig Hutchinson, MPH<br/><span>H3 Conference Chair</span></p>
		  </div>
		  <div class="col3of12 content">
		  	<p>Gail Wyatt, Ph.D.<br/><span>H3 Conference Co-Chair</span></p>
		  </div>
		  <div class="col3of12 content">
		  	<p>Email: <a href="mailto:press@bgrgsummit.com">press@bgrgsummit.com</a></p>
		  </div>
		  <div class="clearfix"></div>
	  </div>
	</div>	
	<div class="clearfix"></div>
</div>                  

{%endblock%}
