{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}

        <div class="page-top">  
            <h1 class="page-title btn-yellow-124">Travel</h1>
            <p></p>
        </div>

          <div class="col1of3">
            <a class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/travel-renaissaince.jpg')}}) no-repeat;"></a>            
            <h3 class="titley">Renaissance Concourse Hotel</h3>
            <div class="yellowBox padding5p">
              <div class="col12of12 content">                
                <p>The Renaissance Concourse Hotel is the host hotel for the 2015 National African American MSM Leadership Conference on HIV/AIDS and other Health Disparities.</p>
                <p>Enjoy the convenience and award winning luxury of Renaissance, one of the world's most respected hotel chains. Situated only 1 mile from the Atlanta Airport, this newly renovated hotel offers advanced acoustical design that minimizes noise, yet still allows for enormous windows with magnificent views.</p>
                <p>The Renaissance Concourse Hotel is located at One Hartsfield Centre Parkway, Atlanta, GA 30354. Conference guest room rates are $139.00 per night for single/double occupancy. In order to receive the discount reservations must be made by January 1, 2015. You may reserve your room at this link:</p>
                <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=NAESM%20Leadership%20Conference%5Eatlsa%60naenaea%60$139.00%60USD%60false%601/10/15%601/21/15%601/1/15&app=resvlink&stop_mobi=yes">Book your group rate: NAESM Leadership Conference >></a>                            
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col1of3">
            <a class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/travel-delta.jpg')}}) no-repeat;"></a>            
            <h3 class="titley">Delta Airlines</h3>
            <div class="yellowBox padding5p">
              <div class="col12of12 content">
                <p>Delta Airlines and NAESM 2015 are working together to make your travel arrangements affordable and convenient.</p>
                <p>By booking your reservations through <a target="_blank" href="http://www.delta.com">Delta.com</a> and using conference code (NMJ59), guest will receive a discounted fare.</p>
                <p>Reservations can also be made via phone by dialing 1-(800)-328-1111(no discounts will be offered if tickets are booked via the telephone).</p>
                <p>Also note that there is a direct ticketing fee for booking through the reservation number.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col1of3">
            <a class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/travel-budget.jpg')}}) no-repeat;"></a>            
            <h3 class="titley">Budget car rental</h3>
            <div class="yellowBox padding5p">
              <div class="col12of12 content">
                <p>Budget is the official car rental partner of the 2015 African American MSM Leadership Conference on HIV/AIDS and other Health Disparities.</p>
                <p>To make a reservation visit <a target="_blank" href="http://www.budget.com">Budget.com</a> and reference the discount code S203629.</p>
                <p>Make phone reservations by dialing 1-800-527-0700.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="clearfix"></div>
{%endblock%}
